{% extends "lbms_app/base.html" %}
{% load static %}
{% block title %} LBMS | Statistiche {% endblock %}
{% block pagetitle %} LBMS | Statistiche {% endblock %}
{% block scripts %}
    <script>
        function draw_pie(data, canvas_id) {
            return new Chart(document.getElementById(canvas_id).getContext('2d'), {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: $.map(data, function(value, key) { return value }),
                            backgroundColor: [
                                'rgba(255, 159, 64)',
                                'rgba(153, 102, 255)',
                                'rgba(75, 192, 192)',
                                'rgba(255, 206, 86)',
                                'rgba(54, 162, 235)',
                                'rgba(255, 99, 132)',
                            ],
                        }],
                        labels: Object.keys(data)
                    },
                    options: {}
                });
        }

        function show_data(data, p_id) {
            let p = document.getElementById(p_id);

            p.innerHTML = "";

            $.map(data, function (value, key) {p.innerHTML += key + ': ' + value + '<br>'});
        }

        function set_year(previous = false) {
            $('#year-input').val(new Date().getFullYear() - previous);
        }

        function update() {
            {% block request %}{% endblock %}
            $.get(url, params, function (data) {
                let categories = draw_pie(data['by_category'], 'categories_canvas');
                let sources = draw_pie(data['by_source'], 'sources_canvas');

                show_data(data['by_category'], 'categories_data');
                show_data(data['by_source'], 'sources_data');
            });
        }

        $(document).ready(function () {
            {% block document_ready %}
            {% endblock %}

            $('#year-input').change(function () {
                update();
            });

            $('#month-select').change(function () {
                update();
            });

            update();
        });
    </script>
{% endblock %}
